.toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: #101010;
	border-bottom: solid 1px #444;
	color: #fff;
	display: flex;
	z-index: 1;
}

.bottom-toolbar {
	top: unset;
	bottom: 0px;
	left: 0px;
}

.toolbar > .toolbar-button {
	margin-top: 1px;
	font: normal normal normal 14px/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	background-color: #060606;
	border: solid 1px rgb(133, 133, 133);
	color: #fff;
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	text-align: center;
	line-height: 28px;
}

.toolbar > .toolbar-text {
	background-color: #222222;
	cursor: default;
}

.toolbar-dropdown-menu {
	margin-top: 1px;
	font: normal normal normal 14px/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	cursor: pointer;
	display: block;
}

.toolbar-dropdown-menu > .toolbar-button {
	display: none;
}
.toolbar-dropdown-menu > .toolbar-dropdown-menu {
	display: none;
}
.toolbar-dropdown-menu > .toolbar-dropdown-menu > .toolbar-button {
	margin-left: 100px;
	margin-right: -100px;
	margin-top: -30px;
	margin-bottom: 30px;
}
.toolbar-dropdown-menu.toolbar-dropdown-menu-button-open {
	display: block;
}

.toolbar-dropdown-menu-name {
	box-sizing: border-box;
	background-color: #060606;
	border: solid 1px rgb(133, 133, 133);
	color: #fff;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 28px;
}

.toolbar-button.toolbar-dropdown-menu-open.toolbar-dropdown-menu-name {
	background-color: #0c0c0c;
}

.toolbar-button.toolbar-dropdown-menu-button-open {
	display: block;
	background-color: #1a1a1a;
	border: solid 1px rgb(133, 133, 133);
	color: #fff;
	width: 98px;
	min-height: 30px;
	text-align: center;
	line-height: 28px;
}

.toolbar-button.toolbar-dropdown-menu-button-open:hover {
	background-color: #0c0c0c;
}

.toolbar-dropdown-menu-name:hover {
	background-color: #131313;
}
