.popup-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #101010db;
	z-index: 1000000;
	color: #fff;
	font: normal normal normal 14px/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popup {
	background: #060606;
	padding: 2em;
	padding-top: 0.5em;
	border-radius: 12px;
	border: solid 1px rgb(133, 133, 133);
	position: relative;
	min-width: 20rem;
	overflow-y: auto;
	max-height: 90vh;
}

input:invalid {
	border: #b40300 solid 2px;
}

.parameter {
	display: flex;
	flex-flow: row;
}

.parameter > div {
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.parameter > div > input {
	min-width: 5rem;
}

ul {
	padding-left: 0;
	margin-right: 0.67em;
	margin-left: 0;
	margin-bottom: 0;
}

.list-item {
	background: #0e0e0e;
	list-style-type: none;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	width: 100%;
	text-align: center;
	margin-top: 4px;
	cursor: pointer;
}

.list-item:hover {
	background: #1b1b1b;
	border-color: #fff;
	font-weight: bold;
}

.list-folder {
	background: #2c2c2c;
}

.list-folder:hover {
	background: #1e1e1e;
}

.cancelbtn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	color: #fff;
	border: none;
	padding: 0.5rem;
	padding-right: 0.7rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	cursor: pointer;
}
